@charset "utf-8";
/* CSS Document */

body{background:url(../media/img/fondo.jpg); margin:0px auto;}
#container{width:960px; height:auto; margin:0px auto;}
#menu{width:960px; float:left; height:120px;}
#head{}
#content{}
#footer{}

