<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<style type="text/css">
</style>

<title>Untitled Document</title>
<link href="/medios/css/estilo.css" rel="stylesheet" type="text/css" />
</head>

<body>

<div id="container">
<div id="head">HEAD</div>
<div id="contenido">CONTENIDO</div>
<div id="footer">FOOTER</div>

</div>
</body>
</html>
