{%extends "base.html"%}
{%block title%}ECO Consultores - Contacto{%endblock%}
{%load i18n%}

{%block contact_act%}
<li id="active_final"><a href="/contacto/">{%trans 'Contacto'%}</a></li>
{%endblock%}

{%block header%}
<div id="head_medium">
<div id="title">{%trans 'Tenemos un asesor cerca de usted.'%}</div>
</div>
{%endblock%}



{%block content%}
<div class="main_text"> {%trans 'Si aún tiene dudas, o preguntas acerca de que hacemos en ECO, siéntase libre de escribirnos a nuestro correo electrónico, visitar nuestro sitio en google maps para ubicarnos más fácilmente, o llamarnos por teléfono, atenderemos su solicitud a la brevedad, en ECO, te decimos cómo.'%}</div>

<div style="clear:both;"></div>
<div id="notice" style="display:none;" class="notice">
    Tu comentario ha sido enviado correctamente, gracias.
</div>

<div style="clear:both;"></div>

<div id="error" style="display:none;">
    Lo sentimos pero no se ha podido enviar tu comentario, revisa los datos
    ingresados e intenta de nuevo, por favor.
</div>

<div id="globe_contact_form">
<table width="200" border="0" id="form1" name="form1">
    <tr>
        <td>
            <label for="name"></label>
            <input name="name" type="text" id="name" value="{%trans 'Nombre'%}" />
        </td>
        <td>
            <label for="phone"></label>
            <input name="phone" type="text" id="phone" value="{%trans 'Telefono'%}" />
        </td>
        <td>
            <label for="email"></label>
            <input name="email" type="text" id="email" value="{%trans 'Email' %}" />
        </td>
    </tr>
    <tr>
        <td colspan="3">
            <label for="comments"></label>
            <textarea name="comments" id="comments" cols="45" rows="5">{%trans 'Pregunta'%}</textarea>
        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td align="right">
            <input type="button" id="contact" value="{%trans 'Enviar' %}" />
        </td>
    </tr>
</table>
</div>

<div id="contact_data">
<div id="data"><b>{%trans 'Dirección física:</b>'%}<br />
  Avenida 56-A # 236 x 58-A y 60 Col. Alcalá Martín.<br />
Mérida, YUC, México,<br />
CP. 97050<br />
<br />
<b>{%trans 'Teléfonos:'%}</b><br />
+52 (999) 9415285<br />
+52 (999) 9652365</div>
<div id="google_button"><a href="http://maps.google.com/maps?client=safari&q=maps+merida+mexico&oe=UTF-8&ie=UTF8&hq=&hnear=Merida,+Yucat%C3%A1n,+Mexico&ei=PEqrTKXeCsHflgfB3OGXCA&ved=0CBoQ8gEwAA&ll=20.992014,-89.618182&spn=0.000731,0.002838&t=h&z=19&layer=c&cbll=20.991963,-89.618189&panoid=vxpaqmk3zocsj02x0-bbjg&cbp=11,224.4,,0,5.6" target="_new">{%trans 'Encuentranos en Google Maps'%}</a></div>
</div>
{%endblock%}