{%extends "base.html"%}
{%block title%}ECO Consultores - Nuestra Empresa{%endblock%}
{%load i18n%}

{%block header%}
<div id="head_big">
  <div id="title_company">
    Valoramos lo que es importante para usted.
  </div>
  <div id="subtitle_company">Somos consultoría que genera resultados cuidando el medio ambiente.</div>
</div>


{%endblock%}


{%block company_act%}
<li id="active_inicio"><a href="/empresa/">{%trans 'Empresa'%}</a></li>
{%endblock%}

{%block content%}
<div id="company_philosophy">
<span id="title">{%blocktrans%}Nuestra filosofía</span><br />
<p>Procuramos brindar un servicio de  consultoría de desarrollo medio-ambiental de calidad acorde con los  requerimientos ambientales actuales, constituyéndonos como líderes en el  mercado en servicios de gestión ambiental atendiendo de los plazos y tiempos  establecidos por la normatividad ambiental y los requerimientos de las  autoridades. </p>
<p>Nuestro objetivo es ser una empresa líder  en el servicio y ejecución de los proyectos ambientales de los sectores  industriales, comerciales y de servicios del país, equilibrando el bienestar  social, productivo y económico de la sociedad, con  la preservación del medio ambiente.{%endblocktrans%}</p>
</div>

<div id="globe_company">
<span class="title">{%blocktrans%}Servicios</span><br />
<span class="text">Consultoría responsable enfocada a su inversión y al medio ambiente.</span><br />
<span class="link"><a href="#">ir a Servicios</a></span><br />
<span class="title">Clientes ECO</span><br />
<span class="text">Empresas que han confiado en nuestra visión y compromiso social.</span><br />
<span class="link"><a href="#">ir al Portafolio</a></span>{%endblocktrans%}<br />
</div>
{%endblock%}