{%extends "base.html"%}
{%block title%}ECO Consultores - Nuestra Empresa{%endblock%}
{%load i18n%}

{%block header%}
<div id="head_big">
  <div id="title_company">
    Empresa in di mauris. Vivamus hendrerit arcu.
  </div>
  <div id="subtitle_company">
    Quisque commodo hendrerit lorem quis egestas. Maecenas quis.
  </div>
</div>


{%endblock%}


{%block company_act%}
<li id="active_inicio"><a href="/empresa/">{%trans 'Empresa'%}</a></li>
{%endblock%}

{%block content%}
<div id="company_philosophy">
<span id="title">Nuestra filosofía</span><br /><br />
<span id="text">Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna diam porttitor mauris, quis sollicitudin sapien justo in libero. Vestibulum mollis mauris enim. Morbi euismod magna ac lorem rutrum elementum. Donec viverra auctor lobortis. Pellentesque eu est a nulla placerat dignissim. Morbi a enim in magna semper bibendum.<br /><br />

Praesent eget neque eu eros interdum malesuada non vel leo. Sed fringilla porta ligula egestas tincidunt. Nullam risus magna, ornare vitae varius eget, scelerisque a libero. Morbi eu porttitor ipsum. Nullam lorem nisi, posuere quis volutpat eget, luctus nec massa. <br /><br />

Pellentesque aliquam lacinia tellus sit amet bibendum. Ut posuere justo.</span>
</div>

<div id="globe_company">
<span class="title">Servicios</span><br />
<span class="text">Donec viverra auctor lobortis. Pellentesque eu est a nulla morbi a enim in.</span><br />
<span class="link"><a href="#">ir a Servicios</a></span><br />
<span class="title">Clientes ECO</span><br />
<span class="text">Donec viverra auctor lobortis. Pellentesque eu est a nulla morbi a enim in.</span><br />
<span class="link"><a href="#">ir al Portafolio</a></span><br />
</div>
{%endblock%}