{%extends "base.html"%}
{%block title%}ECO Consultores - Nuestra Empresa{%endblock%}
{%load i18n%}

{%block header%}
<div id="head_big">
  <div id="title_company">
    Empresa in di mauris. Vivamus hendrerit arcu.
  </div>
  <div id="subtitle_company">
    Quisque commodo hendrerit lorem quis egestas. Maecenas quis.
  </div>
</div>


{%endblock%}


{%block company_act%}
<li id="active_inicio"><a href="/empresa/">{%trans 'Empresa'%}</a></li>
{%endblock%}

{%block content%}
<div id="company_philosophy">
<span id="title">Nuestra filosofía</span><br />
<p>Procuramos brindar un servicio de  consultoría de desarrollo medio-ambiental de calidad acorde con los  requerimientos ambientales actuales, constituyéndose como un líder en el  mercado en servicios de gestión ambiental atendiendo de los plazos y tiempos  establecidos por la normatividad ambiental y los requerimientos de las  autoridades. </p>
<p>Nuestro objetivo es ser una empresa líder  en el servicio y ejecución de los proyectos ambientales de los sectores  industriales, comerciales y de servicios del país, equilibrando el bienestar  social, productivo y económico de la sociedad, con  la preservación del medio ambiente. </p>
</div>

<div id="globe_company">
<span class="title">Servicios</span><br />
<span class="text">Donec viverra auctor lobortis. Pellentesque eu est a nulla morbi a enim in.</span><br />
<span class="link"><a href="#">ir a Servicios</a></span><br />
<span class="title">Clientes ECO</span><br />
<span class="text">Donec viverra auctor lobortis. Pellentesque eu est a nulla morbi a enim in.</span><br />
<span class="link"><a href="#">ir al Portafolio</a></span><br />
</div>
{%endblock%}