{%extends "base.html"%}
{%block title%}ECO Consultores - FAQ - Preguntas Frecuentes{%endblock%}
{%load i18n%}

{%block header%}
<div id="head_medium">
<div id="title">{%trans 'Centro de preguntas frecuentes'%}</div>
</div>
{%endblock%}

{%block content%}
<div id="main_text">
{%blocktrans%}
Sed nec diam eu diam mattis viverra.
Nulla fringilla, orci ac euismod semper, magna diam porttitor mauris,
quis sollicitudin sapien justo in libero.
Vestibulum mollis mauris enim.
Morbi euismod magna ac lorem rutrum elementum.
{%endblocktrans%}
</div>

<div id="questions_list">
<div id="top">{%trans 'Titulo'%}</div>
<div class="middle">
    <ul>
    {%for topic in topics%}
        <li id="{{topic.id}}" class="topic_button">{{topic.title}}</li>
    {%endfor%}
    </ul>
</div>
<div id="bottom"></div>
</div>

<div id="answers_list">
    <div id="top"></div>
    <div id="questions_container" class="middle">
        <h1>Elige alg&uacute;no de los t&iacute;tulos</h1>
    </div>

    <div id="bottom"></div>
</div>

{%endblock%}