{%extends "base.html"%}
{%block title%}ECO Consultores - Centro de preguntas frecuentes{%endblock%}
{%load i18n%}

{%block faq_act%}
<li id="item_active"><a href="/faq/">{%trans 'FAQ'%}</a></li>
{%endblock%}

{%block header%}
<div id="head_medium_faq">
<div id="title">{%trans 'Centro de preguntas frecuentes'%}</div>
</div>
{%endblock%}

{%block content%}
<div class="main_text">
{%blocktrans%}
Utilice nuestro sistema de preguntas frecuentes para aclarar sus dudas y ponerse en contacto con un asesor, el cual le aclarará todas las interrogantes que tenga sobre nuestros servicios, seleccione un tema para ver las preguntas correspondientes.
{%endblocktrans%}
</div>
<div style="clear:both;"></div>
<div id="notice" style="display:none;" class="notice">
    Tu comentario ha sido enviado correctamente, gracias.
</div>
<div style="clear:both;"></div>
<div id="error" style="display:none;">
    Lo sentimos pero no se ha podido enviar tu comentario, revisa los datos
    ingresados e intenta de nuevo, por favor.
</div>
<div id="questions_list">
<div id="top">{%trans 'Titulo'%}</div>
<div class="middle">
    <ul>
        {%for topic in topics%}
            <li id="{{topic.id}}" class="topic_button">{{topic.title}}</li>
        {%endfor%}
    </ul>
</div>
<div id="bottom"></div>
</div>

<div id="answers_list">
    <div id="top"></div>
    <div id="questions_container" class="middle"></div>
    <div id="bottom"></div>
</div>
{%endblock%}