{%extends "base.html"%}
{%block title%}ECO Consultores - Aquí te decimos cómo.{%endblock%}

{%block header%}
<div id="video_container"><div class="video"></div></div>
<img src="/medios/img/header_bg_inicio.png" width="960" height="284" /> 
{%endblock%}

{%block content%}
<div id="globo_inicio">

	<div id="big_text">Te decimos como<span id="tiny_text">Encaminar a su empresa hacia el liderazgo competitivo</span></div>

   
</div>

	<div id="parrafo_inicio">Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna diam porttitor mauris, quis sollicitudin sapien justo in libero. Vestibulum mollis mauris enim. Morbi euismod magna ac lorem rutrum elementum. Donec viverra auctor lobortis. Pellentesque eu est a nulla placerat dignissim. Morbi a enim in magna semper bibendum.<br /><br /><br /><br /><span>Te decimos como</span></div>

{%endblock%}