{%extends "base.html"%}
{%block title%}ECO Consultores - A quienes les hemos dicho cómo{%endblock%}

{%load i18n%}

{%block portfolio_act%}
<li id="item_active"><a href="/portafolio/">{%trans 'Portafolio'%}</a></li>
{%endblock%}

{%block header%}
<div id="head_big_portfolio">
<div id="title">
    {%trans 'Empresas comprometidas con la ecología'%}
</div>
<div id="subtitle">
    {%trans 'Promoviendo una cultura de protección ambiental.'%}
</div>
</div>

{%endblock%}

{%block content%}

<div id="headline">{%trans 'A QUIENES LES HEMOS DICHO'%} <span>{%trans 'COMO'%}</span></div>
    
{%for project in projects%}
    <ul class="projects" position="{{forloop.counter}}">
        {%for p in project%}
            <li id="{{p.id}}" class="project_button" position="{{forloop.counter}}">
                <img src="{{MEDIA_URL}}{{p.image}}" alt="" />
            </li>
        {%endfor%}
    </ul>
{%endfor%}

{%endblock%}