{%extends "base.html"%}
{%block title%}ECO Consultores - Portafolio{%endblock%}
{%block header%}

<div id="head_big">
<div id="title">Portafolio in di mauris. Vivamus
hendrerit arcu.</div>
<div id="subtitle">Quisque commodo hendrerit lorem quis egestas. Maecenas quis.</div>
</div>

{%endblock%}

{%block content%}

<div id="headline">A QUIENES LES HEMOS DICHO <span>COMO</span></div>
    
{%for project in projects%}
    <ul position="{{forloop.counter}}">
        {%for p in project%}
            <li id="{{p.id}}" class="project_button" position="{{forloop.counter}}">
                <img src="{{MEDIA_URL}}{{p.image}}" alt="" />
            </li>
        {%endfor%}
    </ul>
{%endfor%}

{%endblock%}