{%extends "base.html"%}
{%block title%}ECO Consultores - Te decimos cómo{%endblock%}
{%load i18n%}

{%block services_act%}
<li id="item_active"><a href="/servicios/">{%trans 'Servicios'%}</a></li>
{%endblock%}

{%block header%}
<div id="head_big">
  <div id="title">
    {%trans 'Servicios integrales en consultoría ambiental.'%}
  </div>
  <div id="subtitle">
    {%trans 'Porque cada aspecto cuenta en materia ecológica.'%}
  </div>
</div>

{%endblock%}

{%block content%}

<div id="headline"><span>{%trans 'METODOLOGÍA:'%}</span> {%trans 'TE DECIMOS CÓMO'%}</div>

<div class="globe_services">
<div id="text">
  <p>Trabajamos de manera directa y paralelamente con nuestros  clientes gracias a nuestro sistema de control, el cual permite al cliente estar  informado y en constante actualización sobre los avances que nuestro equipo de  trabajo va realizando en su proyecto, además de entablar una estrecha relación  de comunicación con su asesor designado con la finalidad de hacer un buen  trabajo en equipo y entender a fondo <span>lo que nuestro cliente requiere.</span></p></div>
</div>
<div id="title_our_services">NUESTROS SERVICIOS</div>
<div id="services_container">

<div id="process_container">
		<ul id="process">
		</ul>
</div>

<div style="clear:both;"></div>

<div id="actions_container" style="display:none;">
  <div id="top"></div>
  <div id="middle">
	<ul id="actions">
	</ul>
  </div>
  <div id="bottom"></div>
</div>

<div id="container_actions" style="display:none;">
  <div id="top"></div>
  <div id="actions_content"></div>
  <div id="bottom"></div>
</div>

</div>



<div class="globe_services_bottom">
<div id="left_link">
<div class="link_bottom"><a href="/portafolio/" target="_self">Conozca a nuestros clientes</a></div>
</div>

<div id="right_link">
<div class="link_bottom"><a href="/faq/" target="_self">Aclare sus dudas en nuestras preguntas frecuentes</a></div>
</div>

</div>
    
{%endblock%}