{%extends "base.html"%}
{%block title%}ECO Consultores - Servicios{%endblock%}
{%load i18n%}

{%block services_act%}
<li id="item_active"><a href="/servicios/">{%trans 'Servicios'%}</a></li>
{%endblock%}

{%block header%}
<div id="head_big">
  <div id="title">
    {%trans 'Servicios in di mauris. Vivamus hendrerit arcu.'%}
  </div>
  <div id="subtitle">
    {%trans 'Quisque commodo hendrerit lorem quis egestas. Maecenas quis.'%}
  </div>
</div>

{%endblock%}

{%block content%}

<div id="headline"><span>{%trans 'METODOLOGÍA:'%}</span> {%trans 'TE DECIMOS CÓMO'%}</div>

<div class="globe_services">
<div id="text">Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed molestie augue sit amet leo consequat posuere. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin vel ante a orci tempus eleifend ut et magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. <span>In condimentum facilisis porta. Sed nec.</span></div>
</div>

<div class="globe_services_bottom">

  <div id="left">
    <span class="title">Concepto de Servicio 1.</span>
    
    <div class="text">Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna diam porttitor mauris, quis sollicitudin sapien justo in libero. Vestibulum mollis mauris enim. Morbi euismod magna ac lorem rutrum elementum. Donec viverra auctor lobortis. Pellentesque eu est a nulla placerat dignissim. 
    </div>
    
    <ul>
    <li>Morbi euismod magna.</li>
    <li>Morbi euismod magna.</li>
    <li>Morbi euismod magna.</li>
    </ul>

    
    
  </div>
    


	<div id="right">
    <span class="title">Concepto de Servicio 2.</span>
    <div class="text">Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna diam porttitor mauris, quis sollicitudin sapien justo in libero. Vestibulum mollis mauris enim. Morbi euismod magna ac lorem rutrum elementum. Donec viverra auctor lobortis. Pellentesque eu est a nulla placerat dignissim. 
    </div>
    
    <ul>
    <li>Morbi euismod magna.</li>
    <li>Morbi euismod magna.</li>
    <li>Morbi euismod magna.</li>
    </ul>

	
	   
  </div>

<div id="left_link">
<div class="link_bottom"><a href="/portafolio/" target="_self">Conozca a nuestros clientes</a></div>
</div>

<div id="right_link">
<div class="link_bottom"><a href="/faq/" target="_self">Aclare sus dudas en nuestras preguntas frecuentes</a></div>
</div>

</div>
    
{%endblock%}