<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<style type="text/css">
body{margin:0px auto; color:#FFF; background:#000;}
#container{width:960px; height:auto; margin:0px auto;}
#head{width:960px; height:250px; float:left; background:#0C9;}
#contenido{width:960px; height:auto; float:left; background:#3F3;}
#footer{width:960px; height:150px; float:left; background:#F09;}
</style>

<title>base</title>
</head>

<body>

<div id="container">
<div id="head">HEAD</div>
<div id="contenido">CONTENIDO 2</div>
<div id="footer">FOOTER</div>

</div>
</body>
</html>
